<div class="container">
  <div class="row intro">
    <div class="col-xs-12">
      <img src="assets/burger.jpg" alt="burger">
      <h1>Burger Eater!</h1>
    </div>
  </div>


  <div class="col-xs-12 col-md-6">
    {{#each burgers}}
    {{#unless this.devoured}}
    <div class="row">
      <div class="col-xs-9">
        <pre>{{this.id}}. {{this.burger_name}}</pre>
      </div>
      <div class="col-xs-3">
        <button class="btn btn-default">DEVOUR IT!</button>
      </div>
    </div>

    {{/unless}}
    {{/each}}
  </div>

  <div class="col-xs-12">
    <form action="/add" method="POST">
      <textarea name="add-burger" id="add" cols="30" rows="10"></textarea>
      <button class="btn btn-primary">Submit</button>
    </form>
    <h4>Enter a burger you want to eat! Click the "Submit" button.</h4>
  </div>
</div>